<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebCamMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <WebCamMonitor.Properties.Settings>
      <setting name="JpgImageQuality" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="WebImageUpdateIntervalMs" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="ConsoleImageUpdateIntervalMs" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="ImageOutputDirectory" serializeAs="String">
        <value>C:\Users\Jon-PC\Documents\Visual Studio 2012\Projects\WebCamMonitor\WebCamMonitorIIS\images</value>
      </setting>
      <setting name="RenderDateTimes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IpCamera1UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="IpCamera1Password" serializeAs="String">
        <value />
      </setting>
      <setting name="IpCamera1Url" serializeAs="String">
        <value />
      </setting>
    </WebCamMonitor.Properties.Settings>
  </userSettings>
</configuration>
